---
pagination:
  data: collections.combined
  size: 1
  alias: page
permalink: '{{  page.path }}/'
eleventyComputed:
  title: "{{ page.meta.title }}"
  description: "{{ page.meta.description }}"
  layout: "{{ page.Layout }}"
---

<menu>
  <ul>
    {% for item in collections.nav %}
    <li>
      🌱 <a href="{{ item.path }}">{{ item.name }}</a>
    </li>
  {% endfor %}
  </ul>
  <div class="contact">
    <small>email:</small><a href="mailto:scout.tosi@gmail.com">scout.tosi@gmail.com</a>
    <small>phone:</small><a href="tel:7406417921">(740) 644-7050</a>
  </div>
</menu>

<main id="{{page.slug}}">
  <h1>{{page.name}}</h1>
  <hr>
  {% if page.content.html %}
    {{ page.content.html | safe }}
  {% endif %}
</main>

{% if page.path.includes('portfolio') %}
  <small><u>My Portfolio</u></small>
  <ul>
    {% for item in collections.portfolio | reverse %}
      <li>
        <a href="{{ item.path }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% elif page.path.includes('posts') %}
  <small><u>My Posts</u></small>
  <ul>
    {% for item in collections.posts | reverse %}
      <li>
        <a href="{{ item.path }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<hr>

{% if not PROD %}
  <span>NotionCMS Page Object:</span>
  <json-viewer data="{{page | removeEleventyProps | dump }}" style="padding: 1.5rem; border-radius: 1rem;"></json-viewer>

  <script>
    const notionPage = {{page | dump | safe}};
    console.log('[notionCMS page]:', notionPage);
  </script>
{% endif %}

