
menu ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

menu li {
  list-style: none;
}

menu .contact {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

a {
  border-bottom: 2px solid transparent;
}

details {
  background: #eee;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
}

summary {
  cursor: pointer;
}

summary > * {
  display: inline;
}

details > summary {
  background-color: #eee;
  cursor: pointer;
  padding: .5rem 1rem;
}

details > summary > * {
  display: inline;
}

details > div {
  border: 2px solid #eee;
  margin-top: 0;
  padding: 1rem;
}

figure object {
  width: 100%;
  min-height: 500px;
}

@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}
